[submodule "vendor/angular"]
	path = vendor/angular
	url = git@github.com:cinema6/angular.js.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git@github.com:cinema6/jquery.git
[submodule "vendor/gsap"]
	path = vendor/gsap
	url = git@github.com:cinema6/GreenSock-JS.git
[submodule "vendor/ui-router"]
	path = vendor/ui-router
	url = git@github.com:cinema6/ui-router.git
[submodule "vendor/c6ui"]
	path = vendor/c6ui
	url = git@github.com:cinema6/c6ui.git
