/*  ==========================================================================
 *  video controls styles
 *  ========================================================================== */
 	/*  ------------------------------------------
        Heavy Rain skin
        ------------------------------------------  */
        .c6-bar__settings:hover {background: #383636;}
        .c6-settings__dropdown-btn:hover {background: #383636;}

        .controls__btnPlayPause:hover {background: #383636;}
        .volume__btn:hover {background: #383636;}

/*  ==========================================================================
    choice styles
    ========================================================================== */
    /*  ------------------------------------------
        desktop styles
        ------------------------------------------  */  
        .choices__item:hover {margin-top: 1%;}

/*  ==========================================================================
    end screen styles
    ========================================================================== */
    /*  ------------------------------------------
        desktop styles
        ------------------------------------------  */
        .branding__heavyrain-logo:hover {opacity: 1;}

        .options__item:hover {opacity: 1;}
        