/* overall css stylesheet */
html { height: 100%; width: 100%;}
ul {list-style: none;}

.ir {width:0; height:0; display: block; overflow: hidden; }
.hidden {display: none;}
.disabled {opacity: 0.5;}
.c6bar { background: #232527; height: 36px; width: 100%; position: fixed; z-index:10; margin: 0; }
.experience {position: fixed; width:100%; height: 100%}

.viewport { 
    height: 684px; 
    width: 1280px; 
    margin: -396px 0 0 -640px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    font-size: 28px; 
}

.c6-ios-keyboard-up {
    height: 300px;
    width: 100%;
    top:-50%;
    position: absolute;
}
