<section class="exp-hero__group" ng-style="{backgroundImage: AppCtrl.src(AppCtrl.experience.img.hero) && 'url(' + AppCtrl.src(AppCtrl.experience.img.hero) + ')'}">
    <h1 class="exp-hero-slides__hdr tk--hdr">
        <a href="#/experience" class="exp-hero-slides__link" title="Play Now">
            <span class="c6-ui__play"><span class="ir">Play Now</span></span>
        </a>
    </h1>
    <div class="c6-view__container">
        <div class="grid grid--middle exp__grid">
            <div class="exp-hero__desc grid__item one-third palm--one-whole lap--five-twelfths">
                <div class="exp-hero__copy-box">
                    <h1 class="exp-hero__title tk--hdr">{{AppCtrl.experience.title}}</h1>
                    <h2 class="exp-hero__sub tk--hdr">{{AppCtrl.experience.subtitle}}</h2>
                    <div class="exp-hero__copy">
                        <p>{{AppCtrl.experience.summary}}</p>
                    </div>
                </div>
            </div>
            <div class="grid__item one-twelfth palm--hide">
                <div class="exp-hero__vertical-spacer">&nbsp;</div>
            </div>
            <div class="exp-hero__tag" ng-style="{backgroundImage: AppCtrl.experience.img.tag && 'url(' + AppCtrl.experience.img.tag + ')'}">&nbsp;</div>
        </div>
    </div>
</section>
